[Unit]
Description=Elastic Search container

[Service]
Restart=always
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect elastic_search 2> /dev/null || /usr/bin/docker run -d --name elastic_search -p 9200:9200 -p 9300:9300 -e 'discovery.type=single-node' elasticsearch:7.4.2"
ExecStart=/usr/bin/docker start -a elastic_search
ExecStop=/usr/bin/docker stop -t 10 elastic_search

[Install]
WantedBy=multi-user.target
